
header {
    background-color: rgb(154, 113, 113);
    color: white;
    padding: 10px;
    text-align: center;

}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    gap: 20px;
    padding-left: 20px;

}


nav ul li {

    margin-left: 0;
    margin: 15px;
    display: inline;
}

nav ul li a {
    color: rgb(19, 19, 227);
    text-decoration: none;
    text-align: center;
    /* border: 3px, solid #f0eded; */

}

a:hover {
    text-decoration: underline;
    color: rgb(240, 140, 140);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 10px;
    font-style: normal;
    background-color: rgb(208, 201, 201);
}

.card {
    background-color: rgb(244, 228, 228);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    margin-top: 30px;
}

h2{
    color: darkblue;
}

footer {
    background-color: rgb(154, 113, 113);
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 2px;
    

}
 @media (max-width: 600px) {
 
  body {
    padding: 5px;
    margin: 5px;
  }


  nav ul {
    display: block;
    padding-left: 0;
    text-align: center;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
  }

  
  header, footer {
    padding: 10px;
    text-align: center;
  }


  .card {
    margin: 10px 0;
    padding: 15px;
  } 
}
 
